/* Style général */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000; /* Fond noir par défaut */
  }
  
  /* Contenu centré */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; /* Assure que le contenu reste au-dessus du fond */
  }
  
  h1 {
    font-size: 3rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  /* Fond avec image */
  body {
    background-image: url('Input/image/background-hyb.png'); /* Assure-toi que l'image est présente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(8px); /* Effet flou */
  }
  
  